# RecBole Research

## Atomic files and datasets

### Atomic files using datasets obtained with `generate_data.ipynb`

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

LASTFM_RB = 'lastfm_recbole'
DATA_DIR = f'../../data/recsys_data/'

In [18]:
all_ratings = pd.read_csv(DATA_DIR + 'all_tracks_ratings.csv', sep='\t')
all_ratings.columns = ['user_id:token', 'track_id:token', 'rating:float', 'timestamp:float']
all_ratings['timestamp:float'] = all_ratings['timestamp:float'].apply(
    lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S").timestamp() if x is not np.nan else np.nan)

all_ratings.to_csv(f'{DATA_DIR}/{LASTFM_RB}/{LASTFM_RB}.inter', index=False, sep='\t')
all_ratings

         user_id:token  track_id:token  rating:float  timestamp:float
0                    1           35151           5.0              NaN
1                    1           82497           3.3              NaN
2                    1           97967           4.2              NaN
3                    1          105492           3.5              NaN
4                    1          124021           3.9              NaN
...                ...             ...           ...              ...
2200756          52829          711172           4.2              NaN
2200757          52829          745290           1.0     1.668483e+09
2200758          52829          776707           1.0     1.668444e+09
2200759          52829          781335           1.0     1.668444e+09
2200760          52829          795280           1.0     1.668482e+09

[2200761 rows x 4 columns]

In [14]:
all_users = pd.read_csv(DATA_DIR + 'all_tracks_ratings.csv', sep='\t')['user_id'].drop_duplicates().rename('user_id:token')
all_users.to_csv(f'{DATA_DIR}/{LASTFM_RB}/{LASTFM_RB}.user', index=False, sep='\t')

all_users

0              1
20             2
60             3
119            4
148            5
           ...
2200552    52825
2200587    52826
2200624    52827
2200663    52828
2200703    52829
Name: user_id:token, Length: 52780, dtype: int64

In [15]:
all_vads = pd.read_csv(DATA_DIR + 'all_tracks_vads.csv', sep='\t')
OG_COLS = ['Track', 'V', 'A', 'D', 'StSc']
NORM_COLS = ['Track', 'V_Norm', 'A_Norm', 'D_Norm', 'StSc_Norm']

RECBOLE_COLS = ['track_id:token', 'v:float', 'a:float', 'd:float', 'stsc:float']

#### Option 1: Original VAD + StSc

In [16]:
og_vads = all_vads[OG_COLS].copy()
og_vads.columns = RECBOLE_COLS

og_vads.to_csv(f'{DATA_DIR}/{LASTFM_RB}/{LASTFM_RB}.item', index=False, sep='\t')
og_vads

        track_id:token   v:float   a:float   d:float  stsc:float
0                    1       NaN       NaN       NaN         NaN
1                    2  0.667880  0.440461  0.568477    0.720910
2                    3  0.587845  0.490143  0.504333    0.555556
3                    4  0.631987  0.476708  0.578362    0.696299
4                    5  0.623167  0.380725  0.507896    0.654302
...                ...       ...       ...       ...         ...
815626          815627  0.677566  0.472298  0.600010    0.875615
815627          815628  0.651401  0.461883  0.575568    0.751494
815628          815629       NaN       NaN       NaN         NaN
815629          815630  0.608476  0.440966  0.554662    0.634783
815630          815631  0.627072  0.423245  0.515132    0.728595

[815631 rows x 5 columns]

#### Option 1: Normalized VAD + StSc

In [ ]:
norm_vads = all_vads[NORM_COLS].copy()
norm_vads.columns = RECBOLE_COLS

norm_vads.to_csv(f'{DATA_DIR}/{LASTFM_RB}/{LASTFM_RB}.item', index=False, sep='\t')
norm_vads

## Custom model